


{% extends "layout.html" %}
{% block content %}

    <h1></h1>
    <p>
        
    </p>
    <div class="row" style="width: 100%;">
    {% for img in files %}
        <div class="col-lg-8">
            <div class="thumbnail" style="height: 20%; width: 50%">
                <a href="/slide/{{ img }}">
                    <img class="card-img-top" src="/thumbnail/{{ img }}" style="width:100%; height:inherit;" >
                    <div class="caption">
                        <p>{{ img }}</p>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}