<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Histology Viewer - {{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='favicon.ico')}}" rel="icon" />
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.2/openseadragon.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/openseadragonselection.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/openseadragon-html-overlay.js') }}"></script>
    
    <style>
        #logo {
            vertical-align:middle;
        }
        .navbar-brand span {
            font-size:2rem;
            line-height:1.2;
            font-weight: 200;
            display:inline-block;
            vertical-align:middle;
            padding:0 0 0 15px;
        }
        .navbar-brand b {
            display:block;
            font-size:50%;
            line-height:1;
        }
        .navbar-nav {
            margin-left:auto;
        }
    </style>

</head>
<body>
    
    <div class="navbar navbar-expand-md navbar-dark bg-dark" style="height: 50px;">    
        <a class="navbar-brand" href="/">
            <img id="logo" class="logo" src="/static/favicon.ico" alt="Logo"/>
        </a>
        
        <select id="model-selection" class="form-control" data-role="select-dropdown" style="margin-left: 40px; height: 40px; width: 20%;">
            {% for model in models %}
                <option value="{{ model }}" selected>{{ model }}</option>"
            {% endfor %}
        </select>
        
    </div>

    <div style="padding-top: 50px; height:100%">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
