<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Histology Learning - {{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='favicon.ico')}}" rel="icon" />
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/leaflet.css')}}" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet.js')}}"></script>
    <script src="{{ url_for('static', filename='js/rastercoords.js')}}"></script>
    <script src="{{ url_for('static', filename='js/leaflet.freedraw.js')}}"></script>

</head>

<body>

    {% block content %}{% endblock %}

</body>
</html>
