
{% extends "layout.html" %}
{% block content %}

    <div id="image-ruler" class="highlight"> </div>
    <div id="map" class="map" style="width: 100%; min-width:100%;" oncontextmenu="return false"></div>
    
    <script type="text/javascript">
        const viewer = OpenSeadragon({
            id: "map",
            prefixUrl: "static/images/",
            showNavigationControl: true,
            showNavigator: true,
            maxZoomPixelRatio: Infinity,
            tileSources: {
                minLevel: 8,
                height: {{ imgheight }},
                width: {{ imgwidth }},
                tileSize: 256,
                getTileUrl: function( level, x, y )
                {
                    return "/tile?slug=" + "{{ slug }}" + "&level=" + level + "&x=" + x + "&y=" + y;
                    
                },
            }
        })

        viewer.initializeAnnotations();
        var tracker = new OpenSeadragon.MouseTracker({
            
            element: "map",

            nonPrimaryPressHandler: function(event) {
                coords = viewer.tiledImage.imageToViewportCoordinates(event.position);
                viewer.viewport.panTo(coords);
                alert(viewer.viewport.getCenter(true) + "\n" + coords);
            }
        });
        tracker.setTracking(true);
    </script>

{% endblock %}