
{% extends "layout.html" %}
{% block content %}

    <div id="image-ruler" class="highlight"> </div>
    <div id="map" class="map" style="width: 100%; min-width:100%;" oncontextmenu="return true"></div>
    
    <script type="text/javascript">
        var viewer = init_viewer("map", "{{slug}}", {{imgheight}}, {{imgwidth}});
        var selection = init_selection(viewer);
        
        viewer.initializeAnnotations();
        viewer.addHandler('open', function() {
            var r = new OpenSeadragon.Rect({{x}}, {{y}}, {{w}}, {{h}});
            viewer.viewport.fitBounds(r);
        });
        viewer.addHandler('selection', onSelectionConfirmed);
        
    </script>

{% endblock %}