<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://histologi.cs.uit.no:8000/static/js/openseadragon.min.js"></script>
    <script src="http://histologi.cs.uit.no:8000/static/js/openseadragon-annotations.js"></script>
    <script src="http://histologi.cs.uit.no:8000/static/js/paper-full.min.js"></script>
    
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
    </script>

</head>

<body>
    <div id="image-ruler" class="highlight"> </div>
    <div id="map" class="map" style="width: 100%; min-width:100%;" oncontextmenu="return false"></div>
    
    <script type="text/javascript">
        const viewer = OpenSeadragon({
            id: "map",
            prefixUrl: "static/images/",
            showNavigationControl: true,
            showNavigator: true,
            tileSources: {
                minLevel: 8,
                height: 25000,
                width: 40000,
                tileSize: 256,
                getTileUrl: function( level, x, y )
                {
                    return "http://histologi.cs.uit.no/tile?slug=" + "Snitt25NZHE40" + "&level=" + level + "&x=" + x + "&y=" + y;
                    
                },
                overlays: [{
                    id: 'image-ruler',
                    x: 0.33, 
                    y: 0.14, 
                    width: 0.02, 
                    height: 0.025,
                    className: 'highlight'
                }]
            }
        })

        viewer.initializeAnnotations();
        const annotations = new OpenSeadragon.Annotations({ viewer });


        viewer.addHandler('canvas-nonprimary-press', function(event) {
            if (event.button === 2) {
                alert("pressed");
                annotations.cleanAnnotations();
            }
        });
    </script>
</body>